@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.card {
 margin : 30px auto;
 display : flex;
 cursor: pointer;
}
.card img {
 width : 150px;
 margin-right : 20px;
}
a:link { color: green; text-decoration: none;}
/* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 #c71d44 설정 */
a:visited { color: #c71d44; text-decoration: none;}
/* hover - 마우스를 해당 링크에 위치했을 경우 #006DD7 설정 */
a:hover { color: #006DD7; text-decoration: underline;}
a {text-decoration-line: none;/* link - 아직 클릭하지 않은 경우 red 색상 설정 */ }

.nav {
 display: flex;
 padding: 10px;
 align-items: center;
 font-family : 'Montserrat';
}
.nav a {
 margin-right: 10px;
 text-decoration : none;
 font-weight : 400;
 letter-spacing : -0.5px;
}
.nav .logo {
 font-weight : 800;
}

input, button {
 padding : 8px 13px;
 margin-top : 5px;
 border : 1px solid grey;
 border-radius : 4px;
 vertical-align : middle;
}
button {
 background : black;
 color : white;
 border : none;
}
input {
 display : block;
}

.detail { text-align : center}
.detail img {
    max-width: 30%;
    display: block;
    margin: auto;
}