<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace ="~{ nav.html::navbar }"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img src="https://placehold.co/300">
    <p style="display:none" th:text="${item.id}"></p>
    <h4 th:text="${item.title}"></h4>
    <p th:text="${item.price + '원'}"></p>
    <a th:href="@{'/edit/'+${item.id}}">✏️</a>
    <span th:onclick="fetch('/item?id=[[${item.id}]]', {method : 'DELETE'})
                .then(r => r.text())
                .then((a) => {
                    console.log(a);
                    location.reload();
                })
                " style="cursor: pointer">🗑️
     </span>
</div>

</body>
</html>