<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>
<div th:replace ="~{ nav.html::navbar }"></div>
<form action="/add" method="post">
    <img src="https://placehold.co/300">
    <p>상품명 :<input name="title"> </p>
    <p>가격 :<input name="price"></p>
    <button type="submit">전송</button>
</form>
<input type="file" onchange="getURL(this)">
<img src="">
<script>
    async function getURL(e){
        let name = encodeURIComponent(e.files[0].name)
        let result = await fetch('/presigned-url?filename=' + e.files[0].name)
        result = await result.text()
        console.log(result)

        let 결과 = await fetch(result, {
            method : 'PUT',
            body : e.files[0]
        })

        console.log(결과);
        console.log(결과.url.split("?")[0]);

        if(결과.ok){
            document.querySelector('img').src = 결과.url.split("?")[0]
        }
    }
</script>
</body>
</html>